text {
    font: bold 20px monospace;
}

.enter {
    text-align: left;
    fill: green;
}

.update {
    text-anchor: middle;
    fill: #333;
}

.svg-main_rooter {
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
}

.svg-main {
    top: 10%;
    left: 2px;
    border: 2px solid #ccc;
    background: aliceblue;
    position: absolute;
}

.TextSVG {
    top: 50%;
    left: 5%;
    border: 2px solid #ccc;
    background: aliceblue;
    position: absolute;
}

.importSVG {
    top: 60%;
    left: 5%;
    position: absolute;
}

.TableSVG {
    top: 0;
    right: 0;
    padding: 20px;
    border: 1px solid black;
    position: absolute;
}

.DataText {
    fill: white;
    text-anchor: middle;
    font-size: 20px;
}


